body {
    color: #FCF7FF;
    width: 100%;
    margin: 0;
    background-color: #001B2E;
}

header {
    position: sticky;
    top: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    background-color: #00121f;
}

#inicio {
    width: fit-content;
    padding-left: 1%;
    width: 25%;
    display: flex;
    float: left;
    color: #FFFFFF;
    font-size: x-large;
}

#inicio img {
    width: 50%;
    height: auto;
}

#panel {
    margin-top: 0.5%;
    position: absolute;
    right: 1%;
}

#logout {
    margin-left: 10px;
    border: 2px solid #00A7E1;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #00A7E1;
    color: #000000;
    text-decoration: none;
    font-size: large;
}

#logout:hover {
    border: 2px solid #018ebd;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #018ebd;
    color: #000000;
    text-decoration: none;
}

h4 {
    color: #FCF7FF;
}

.top .boton {
    border: 2px solid #00A7E1;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #00A7E1;
    color: #000000;
    text-decoration: none;
    font-size: large;
    float: inline-start;
    margin-top: 100px;

}

.bot .boton {
    border: 2px solid #00A7E1;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #00A7E1;
    color: #000000;
    text-decoration: none;
    font-size: large;
    float: inline-start;
    margin-top: 100px;
}

.boton:hover {
    border: 2px solid #018ebd;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #018ebd;
    color: #000000;
    text-decoration: none;
}

#easy {
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
    display: flex;
}

#rest {
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
    display: flex;
}

.top {
    background-color: #00121f;
    width: 30%;
    padding: 0 0 30px 20px;
    margin-right: 20px;
}

.bot {
    background-color: #00121f;
    width: 30%;
    padding: 0 0 30px 20px;
    margin-right: 20px;
}

.easy {
    color: rgb(0, 95, 0);
}

.medium {
    color: rgb(153, 153, 0);
}

.hard {
    color: rgb(170, 0, 0);
}