body {
    position: relative;
    color: #FCF7FF;
    width: 100%;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #001B2E;
}

header {
    top: 0%;
    margin-right: 0;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    background-color: #00121f;
}

#inicio {
    width: fit-content;
    padding-left: 5%;
    padding-bottom: 1%;
    width: 25%;
    display: flex;
    float: left;
    color: #FFFFFF;
    font-size: x-large;
}

#inicio img {
    width: 50%;
    height: auto;
}

#panel {
    margin-top: 1%;
    position: absolute;
    right: 5%;
}

h2, b {
    color: #FCF7FF;
}

#logout {
    margin-left: 10px;
    border: 2px solid #00A7E1;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #00A7E1;
    color: #000000;
    text-decoration: none;
    font-size: large;
}

#logout:hover {
    border: 2px solid #018ebd;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #018ebd;
    color: #000000;
    text-decoration: none;
}

#docker {
    position: absolute;
}

#welcome {
    float: left;
    width: 50%;
    margin: 90px 10px 20px 20%;
    padding-left: 20px;
}

#academybox {
    float: left;
    background: linear-gradient(to bottom left, #00121f 55%, #3D5C1F);
    width: 25%;
    height: 300px;
    padding: 30px;
    margin: 10px 10px 10px 20%;
}

#labbox {
    float: left;
    background: linear-gradient(to bottom left, #00121f 55%, #551552);
    width: 25%;
    height: 300px;
    padding: 30px;
    margin: 10px 10px 10px 10px;
}

.boton {
    border: 2px solid #00A7E1;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #00A7E1;
    color: #000000;
    text-decoration: none;
    font-size: large;
    position: absolute;
    top: 85%;
}

.boton:hover {
    border: 2px solid #018ebd;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #018ebd;
    color: #000000;
    text-decoration: none;
}